extends layout
include mixins/perioditem.pug
block content
    br
    h4 New Entry
    div.container.border.border-primary.rounded(style="padding:10px")
        h4 #{firstname} #{lastname} (#{email})
        br
        form(method="POST" action="/timesheet/add")
            div.form-group
                label(for='title') Work Title:
                input#title.form-control(required type='title', placeholder='Title of Task' name='title')
            div.form-group
                label(for='clientid') Client:
                select(required name='clientid')
                    each c in clients
                        option(value=c.clientid) #{c.name} - Manager: #{c.firstname} #{c.lastname}, #{c.position}
            div.form-group
                label(for='date') Date:
                input#date.period.form-control(required type='date' name='date')
            div.form-group
                label(for='starttime') Start Time:
                input#starttime.period.form-control(required type='time' name='starttime')

            div.form-group
                label(for='endtime') End Time:
                input#endtime.period.form-control(required type='time' name='endtime')
            div.form-group
                h5#periodlength Period Length:  

            div.form-group
                label(for='comment') Comment:
                textarea#comment.form-control(rows='2' name='comment')
            button#submitPeriod.btn.btn-primary(type='submit') Submit

    br
    br

    div.container
        +periodList(periods,clients)
