include comment.pug

mixin periodList(periods,clients)
    h2 Timesheet History
    each p in periods.reverse()
        +periodItem(p,clients)

mixin periodItem(period)
    - periodid = period.periodid;
    div.card.mb-3
        div.timesheetCarousel.carousel.slide(id="carousel"+periodid)
            div.card-header 
                ul.nav.nav-pills.card-header-pills
                    li.nav-item(data-target="#carousel"+periodid data-slide-to="0")
                        a.nav-link.active Info
                    li.nav-item(data-target="#carousel"+periodid data-slide-to="1")
                        a.nav-link Comments
            div.carousel-inner
                div.carousel-item.active
                    div.text-center.card-body.text-primary
                        - c = clients[period.clientid-1]
                        h6.card-title #{period.title}
                        h6.card-title Client: #{c.name} - Manager: #{c.firstname} #{c.lastname}, #{c.position}
                        p.card-text #{("0"+period.start.getDate()).slice(-2)}/#{("0"+period.start.getMonth()).slice(-2)}/#{period.start.getFullYear()} #{("0"+period.start.getHours()).slice(-2)}:#{("0"+period.start.getMinutes()).slice(-2)} - #{("0"+period.end.getHours()).slice(-2)}:#{("0"+period.end.getMinutes()).slice(-2)}
                        p.card-text #{period.hours} Hour(s), #{period.minutes} Minute(s)
                div.carousel-item
                    div.card-body.text-primary
                        div(class="comments-"+periodid) 
                            if comments[periodid].length == 0
                                h6.card-title No Comments

                            else
                                if(comments[periodid])
                                    +comment-list(comments[periodid])

                        form(method="POST" action="/timesheet/addComment")
                            input#periodid(type='hidden' name='periodid' value=periodid)
                            div.form-group
                                textarea#comment.form-control(required placeholder="Add Comment" rows='2' name='comment')
                            button#submitPeriod.btn.btn-primary(type='submit') Post
